/*** FTMS UI div ***/
body {
	margin: 0px;
}

#ftms_ui {
	width: 100%;
	height: 100%;
}

/*** Renderer's window manager classes ***/
.window_manager {
	border-collapse: collapse;
}

.window_manager td {
	vertical-align: top;
}

/*** Track field classes ***/
.border, .no_border {
	width: 600px;
	height: 600px;
	border-collapse: collapse;
}

.no_border td {
	border: none;
}

.border td {
	border: solid grey 1px;
}

/*** Track field controls ***/
.controls_table input {
	width: 30px;
	height: 30px;
}

/*** Track data table classes ***/
.track_table, .track_table td {
	border-collapse: collapse;
	border: solid black 1px;
	padding: 3px;
}

.friendly_data {
	background-color: #e2f9ff;
}

.highlighted_friendly_data {
	background-color: #90cbdb;
}

.hostile_data {
	background-color: #ffe5e5;
}

.highlighted_hostile_data {
	background-color: #ce8a8a;
}